/* 
#headerDiv{
    background-color: rgba(47, 60, 68, 0.808);
    height: 100px;
    width: 97%;
    margin-top: 6px;
    margin-bottom: 100px;
    padding: 0px;
    position: fixed;
    opacity: 0.90;
    border-radius: 10px;
} */

body {
  margin: 0;
  padding: 0;
  background-image: url('img/pawel-czerwinski-YAtspJ-HV2E-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    min-width: 1000px;  /* Sayfa bu genişlikten küçülmez */
  overflow-x: auto;   /* Yatay scroll gerekirse çıkar */
}

/* #headerDiv {

    background-color: rgba(47, 60, 68, 0.808);
    height: 100px;
    width: 97%;
    margin: 6px auto 20px auto;
    padding: 0px;
    opacity: 0.90;
    border-radius: 10px;
} */

#imgParsa{
  width: 300px;
  opacity: 0.90;
  margin-bottom: 100px;
}


#mainDiv{
    height: 900px;
    width: 97%;
    margin-top: 6px;
    margin-left: 26px;
    margin-right: 19px;
    border-radius: 10px;
    /* background-color: rgba(67, 86, 97, 0.808); */
}

#dogs {
    height: 1350px;
    margin-top: 6px;
    margin-left: 26px;
    margin-right: 19px;
    border-radius: 10px;
    background-color: rgba(67, 86, 97, 0.37);

    display: flex;          /* Yan yana dizmek için */
    gap: 20px;              /* Aralarına boşluk */ 
    padding: 10px;          /* Kenarlardan boşluk (opsiyonel) */
}

#leftBarDiv {
    height: 1100px;
    width: 600px;

    border-radius: 10px;
    margin-right: 52px;
      justify-items: center;
}

#rightBarDiv{
  
  height: 1100px;
  width: 1300px;
  /* background-color: rgba(47, 60, 68, 0.062); */
  border-radius: 10px;
  margin-right: 10px;
  /* justify-items: center; */

}

#bio{
  margin-top: 80px;
  width: 90%;

}


#nameDiv{
  background-image: url('img/Ekran_görüntüsü_2025-09-28_191514-removebg-preview.png');
  background-repeat: no-repeat;
  width: 450px;
  height: 200px;
  margin-top: 90px;
}
    
footer{

  height: 200px;
  width:100%;
margin-top: 500px;
  background-color: rgba(0, 0, 0, 0.548);
   border-radius: 10px;

}

#imgPP{
  height: 300px;
  width: 300px;
  background-color: aliceblue;
  border-radius: 100%;
  margin-top: 20px;
  background-image: url('img/IMG_4111.jpeg');
  background-size: cover;
  background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 40px 40px rgba(255,255,255,0.2);

}
p{
  font-family: cursive;
   color: rgba(154, 185, 206, 0.973);
   font-size: 20px;

}
h2{
  font-size: 30px;
  font-family: cursive;
   color: rgba(196, 231, 255, 0.973);
}
h3{
  font-size: 25px;
    font-family: cursive;
   color: rgb(100, 120, 187);
}

#infoDiv{
  height: 600px;
  width: 500px;
  margin-top: 60px;
}

/* From Uiverse.io by Juanes200122 */ 
.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: rgba(47, 60, 68, 0.808);
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: rgba(196, 231, 255, 0.973);
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: rgba(117, 132, 165, 0.973);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
   /*progreso de las diferentes lenguajes*/
  width: 66.66%;
  animation-delay: 0.1s;
}

.skill-per.css {
         /*progreso de las diferentes lenguajes*/
  width: 88.88%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
      /*progreso de las diferentes lenguajes*/
  width: 100%;
  animation-delay: 0.2s;
}

.skill-per.nodejs {
      /*progreso de las diferentes lenguajes*/
   width: 100%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}

/* From Uiverse.io by chase2k25 */ 
.main {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
      margin-top: 60px;
    margin-left: 400px;
}

.up,
.down {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.card {
  width: 90px;
  height: 90px;
  background:rgb(67, 86, 97);
  border-radius: 5px;

  border: 3px solid #2d2d2d;
  box-shadow: 6px 6px 0px #2d2d2d;

  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
  padding-top: 12px;
  padding-left: 12px;
}

.card2 {
  border-radius: 5px 90px 5px 5px;
  padding-top: 12px;
  padding-right: 12px;
}

.card3 {
  border-radius: 5px 5px 5px 90px;
  padding-bottom: 10px;
  padding-left: 12px;
}

.card4 {
  border-radius: 5px 5px 90px 5px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.instagram,
.twitter,
.github,
.discord {
  transition: fill 0.2s ease-in-out;
}

.instagram {
  fill: #e1306c;
}
.twitter {
  fill: #1da1f2;
}
.github {
  fill: #333;
}
.whatsapp {
  fill: #00a849;
}

.card:hover {
  cursor: pointer;
  transform: translate(-6px, -6px);
  box-shadow: 12px 12px 0px #2d2d2d;
}

.card1:hover {
  background-color: #24a0ed;
}
.card2:hover {
  background-color: #24a0ed;
}
.card3:hover {
  background-color: #24a0ed;
}
.card4:hover {
  background-color: #24a0ed;
}s

.card:hover svg {
  fill: white;
}

#discordid{
  
  background-image: url('img/png-clipart-discord-logo-discord-teamspeak-computer-icons-logo-game-buttorn-miscellaneous-video-game-thumbnail-removebg-preview.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-y: 23px;
  background-position-x: 15px;
}
#githubid{
  background-image: url('img/pngwing.com.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position-y: 1px;
  background-position-x: 16px;
}

#mailhubid{
  background-image: url('img/a1d14ba7881740c8c3e428a75132a2ae-removebg-preview.png');
  background-size: 75px;
  background-repeat: no-repeat;
  background-position-y: 9px;
  background-position-x: 1px;
}
#instaid{
  background-image: url('img/insta.png');
  background-size: 65px;
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-position-x: 15px;
}